<section class="foot">
    <div class="container">
        <div class="social-contact">
            <ul class="contact">
                <li ><a href="#" class=""><i class="fa-brands fa-facebook fa-3x" style="color: #3b5998;"></i></a></li>
                <li><a href=""><i  class="fa-brands fa-instagram fa-3x" style="color: #517fa4;"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitter fa-3x" style="color:  #00aced;"></i></a></li>
                <li><a href=""><i class="fa-brands fa-youtube fa-3x" style="color: #bb0000;"></i></a></li>
                <li><a href=""><i class="fa-brands fa-linkedin fa-3x" style="color: #007bb6;"></i></a></li>
            </ul>
        </div>
        <div class="livraison">
            <ul class="liv-info">
                <li>Paiements sur x 12 fois !!</li>
                <li>Livraison en 24 heures</li>
                <li>Ouverts tous les jours 7/7</li>
                <li>Contactez-nous sur : 23232321</li>
            </ul>
        </div>
        <div class="footer-info">
            <div class="row">
                <div class="col-md-4">
                    <h3>Notre société</h3>
                    <ul>
                        <li><a href="">Contactez-nous</a></li>
                        <li><a href="">A propos</a></li>
                        <li><a href="">Nos magasins</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Informations Légales</h3>
                    <ul>
                        <li><a href="">Livraison</a></li>
                        <li><a href="">Conditions d'utilisations</a></li>
                        <li><a href="">Paiement sécurisé</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Contact</h3>
                    <ul>
                        <li>Smart-tek menzel bourguiba</li>
                        <li>+ 216 23232321</li>
                        <li>contact@Smart-tek.com</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    
</section>
