<section class="smartphone">
    <div class="row">
        <div class="col-lg-4">
            <img src="../../assets/huawei1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">499.00 TND</div>
                <h4>SMARTPHONE HUAWEI NOVA Y60 - VERT</h4>
                <p>
                    Écran: 6.6″ LCD TFT – Résolution: <span>1600x720 pixels </span>– Systéme d’exploitation: Android 10.0 –
                     Processeur: <span>Médiatek MT6765 Octa-Core (4 x Cortex-A53 2,3 GHz + 4 x Cortex-A53 1,8 GHz)</span> –
                      Mémoire RAM: 4 Go – Stockage: 64 Go Extensible Jusqu’à 512Go – 
                      Appareil Photo Arriére Triple: <span>13 MP + 5 MP + 2 MP, LED flash, HDR, panorama, </span>
                      Appareil Photo Frontale: 8 MP f/2.0 – Connctivité: 4G, Wifi et Bluetooth – 
                      Capteur d’empreinte digitale – Double SIM – Autonomie de Batterie: 5000 mAh – Couleur: Vert –
                     Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/huawei2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">499.00 TND</div>
                <h4>SMARTPHONE HUAWEI Y6P 4G - VIOLET</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Mediatek MT6762R Helio P22 (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 13 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/huawei3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">769.00 TND</div>
                <h4>SMARTPHONE HUAWEI Y9 PRIME 2019 - NOIR</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Mediatek MT6762R Helio P22 (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/huawei4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">769.00 TND</div>
                <h4>SMARTPHONE HUAWEI NOVA 7I 4G - ROSE + ABONNEMENT 12MOIS</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Mediatek MT6762R Helio P22 (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/infinix1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">399.00 TND</div>
                <h4>SMARTPHONE INFINIX SMART 6 2GO 32GO - AQUA SKY</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Mediatek MT6762R Helio P22 (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/infinix2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">589.00 TND</div>
                <h4>SMARTPHONE INFINIX HOT 12I 4GO 64GO VERT + ABONNEMENT 12 MOIS</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Mediatek MT6762R Helio P22 (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/inifinx3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">499.00 TND</div>
                <h4>SMARTPHONE INFINIX SMART 6 3G 64G - OCEAN</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Mediatek MT6762R Helio P22 (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/infinix4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">619.00 TND</div>
                <h4>SMARTPHONE INFINIX HOT 11 4GO/128GO - VIOLET</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Mediatek MT6762R Helio P22 (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/nokia1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">299.00 TND</div>
                <h4>SMARTPHONE NOKIA C10 32GO - GRIS</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/nokia2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">349.00 TND</div>
                <h4>SMARTPHONE NOKIA C20 32GO BLEU + ABONNEMENT 12 MOIS</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/nokia3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">489.00 TND</div>
                <h4>SMARTPHONE NOKIA G20 64GO BLEU + ABONNEMENT 12MOIS</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/nokia4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">719.00 TND</div>
                <h4>SMARTPHONE NOKIA G21 4GO 128GO - BLEU</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/samsung1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">459.00 TND</div>
                <h4>SMARTPHONE SAMSUNG GALAXY A03 CORE 2GO/32GO - NOIR</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/samsung2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">459.00 TND</div>
                <h4>SMARTPHONE SAMSUNG GALAXY A03 CORE 2GO/32GO - VERT</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/samsung3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">559.00 TND</div>
                <h4>SMARTPHONE SAMSUNG GALAXY A12 64GO - BLEU</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/samsung4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">659.00 TND</div>
                <h4>SMARTPHONE SAMSUNG GALAXY A12 4GO 128GO - BLANC</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/xiaomi1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">409.00 TND</div>
                <h4>SMARTPHONE XIAOMI REDMI 9A 32G - VERT OCÉAN</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/xiaomi2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">559.00 TND</div>
                <h4>SMARTPHONE XIAOMI REDMI 10A 3GO 64GO - BLEU SKY</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/xiaomi3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">579.00 TND</div>
                <h4>SMARTPHONE XIAOMI REDMI 9C 4GO 128GO - ORANGE</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/xiaomi4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">779.00 TND</div>
                <h4>SMARTPHONE XIAOMI REDMI 10 2022 4GO 128GO - GRIS CARBONE</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/oppo1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">489.00 TND</div>
                <h4>SMARTPHONE OPPO A16K 3GO 32GO - BLEU</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/oppo2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">699.00 TND</div>
                <h4>SMARTPHONE OPPO A16 4GO 64GO - BLEU</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/oppo2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">799.00 TND</div>
                <h4>SMARTPHONE OPPO A55 4G 64G - BLEU</h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/oppo4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">999.00 TND</div>
                <h4>SMARTPHONE OPPO RENO 7 8GO 256GO - ORANGÉ </h4>
                <p>
                    Ecran 6.3" LCD IPS <span>(1600 x 720 Pixels) </span>Processeur: Unisoc SC7331E (28nm) Quad-core (12 nm)
                    <span>Octa-Core  (4x2,0 GHz Cortex-A53 et 4x1,5 GHz Cortex-A53)</span>  Systéme d'exploitation: 
                    Android 10.0 (Pie) - Mémoire RAM: 3 Go - Stockage:  64 Go -
                     Appareil Photo Arriére: <span> Triple 16 MP + 5 MP + 2 MP, </span> flash led et Frontale: 8 MP 
                     - Empreinte digitale - Connctivité: 4G, Wifi et Bluetooth - Double SIM - Capacité Batterie: 5000 mAh -
                      Couleur: Violet
                      - Garantie 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
    </div>
</section>