<section class="contact">
    <h1>contactez-nous</h1>
    <form>
        <p>Vous avez une question? Vous voulez savoir plus d'information sur un produit? <br>
        N'hésitez de nous contacter. </p>
        <input type="text" class="firstname" placeholder="Prenom">
        <input type="text" class="lastname" placeholder="Nom">
        <input type="email" class="email" placeholder="Email">
        <textarea name="message" id="msg" cols="30" rows="8" placeholder="Ecrire vote message"></textarea>
        <button class="btn btn-primary">Envoyer</button>
    </form>
</section>