<section class="computer">
    <div class="row">
        <div class="col-lg-4">
            <img src="../../assets/bureau1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">959.00 TND</div>
                <h4>PC DE BUREAU LENOVO IDEACENTRE 3 07ADA05 AMD RYZEN 3 4GO 1TO</h4>
                <p>
                     Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bueau2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">999.00 TND</div>
                <h4>PC DE BUREAU DELL VOSTRO 3888 DUAL CORE 4GO 1TO - NOIR</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bureau3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1019.00 TND</div>
                <h4>PC DE BUREAU ALL IN ONE LENOVO V130-20IGM AIO CELERON J4025 4GO 1TO - NOIR</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bureau4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1119.00 TND</div>
                <h4>PC DE BUREAU LENOVO V50T GEN 2-13IOB I3 10È GÉN 4GO 1TO - NOIR</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bureau5.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1159.00 TND</div>
                <h4>PC DE BUREAU DELL OPTIPLEX 3090 I3 10È GÉN 8GO 256GO SSD - NOIR</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bureau6.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1229.00 TND</div>
                <h4>PC DE BUREAU GAMER INTER I3 10È GÉN 8GO GT1030</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bureau7.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1359.00 TND</div>
                <h4>PC DE BUREAU LENOVO V50T GEN 2-13IOB I5 10È GÉN 4GO 1TO - NOIR</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bureau8.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1399.00 TND</div>
                <h4>PC DE BUREAU GAMER PHOENIX I3 10È GÉN 8GO GTX1050TI</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/bureau9.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1459.00 TND</div>
                <h4>PC DE BUREAU HP PRO 300 G6 PENTIUM GOLD G6400 8GO 1TO (2T8G3ES-8G)</h4>
                <p>
                    Processeur: <span>  AMD Ryzen™ 3 3250U (2,6 GHz up to 3,5 GHz Turbo max,</span> 4Mo de mémoire cache, 
                   <span>Dual-Core) </span>  Systéme d'exploitation: 
                   Système d'exploitation: FreeDos - Mémoire RAM:
                   <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                   Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                    1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                   - Garantie: 1 an
               </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
    </div>
</section>