<section class="toppage">
<div class="container row">
  <nav class="navbar navbar-expand-md">
    <div class="col-lg-6">
      <a routerLink="" class="navbar-brand"><img src="../assets/images.jpeg" class="image" alt=""></a>
    </div>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#toggleMobileMenu"
    aria-controls="toggleMobileMenu"
    aria-label="Toggle navigation"
    aria-expanded="false"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-lg-6" id="toggleMobileMenu">
      <ul class="navbar-nav ">
        <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="about" class="nav-link">Smartphone</a></li>
        <li class="nav-item"><a routerLink="computer" class="nav-link">Computer</a></li>
        <li class="nav-item"><a routerLink="laptop" class="nav-link">Laptop</a></li>
        <li class="nav-item"><a routerLink="product" class="nav-link">Product</a></li>
        <li class="nav-item"><a routerLink="contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>