<section class="laptop">
    <div class="row">
        <div class="col-lg-4">
            <img src="../../assets/lenovo1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">589.00 TND</div>
                <h4>PC PORTABLE LENOVO IDEAPAD 3 14IGL05 N4020 4GO 1TO - GRIS</h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/lenovo2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">599.00 TND</div>
                <h4>PC PORTABLE LENOVO IDEAPAD 3 15IGL05 N4020 4GO 1TO - GRIS </h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/lenovo3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">709.00 TND</div>
                <h4>PC PORTABLE LENOVO IDEAPAD 3 15IGL05 N4020 4GO 1TO + 128GO SSD - NOIR </h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/lenovo4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">899.00 TND</div>
                <h4>PC PORTABLE LENOVO IDEAPAD 3 15IGL05 N4020 4GO 1TO + 256GO SSD - GRIS</h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/asus1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">699.00 TND</div>
                <h4>PC PORTABLE ASUS VIVOBOOK E410MA INTEL CELERON N4020 4GO 128 GO EMMC - BLEU FONCÉ</h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/asus2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">719.00 TND</div>
                <h4>PC PORTABLE ASUS X543MA CELERON N4020 8GO 1TO - GRIS</h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/asus3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">949.00 TND</div>
                <h4>PC PORTABLE ASUS D415DA AMD RYZEN 3 4GO 1TO - GRIS</h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/asus4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">989.00 TND</div>
                <h4>PC PORTABLE ASUS X415 I3 10É GÉN 4GO 1TO - GRIS</h4>
                <p>
                    Écran 14" HD - Processeur: <span>Intel Celeron N4020 (1,10 GHz up to 2.80 GHz </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/acer1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">949.00 TND</div>
                <h4>PC PORTABLE ACER ASPIRE 3 A315-56 I3 10È GÉN 4GO 1TO - ROUGE</h4>
                <p>
                    Écran 14" HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/acer2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">949.00 TND</div>
                <h4>PC PORTABLE ACER ASPIRE A315-56 I3 10È GÉN 8GO 1TO - NOIR</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/acer3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1169.00 TND</div>
                <h4>PC PORTABLE ACER ASPIRE 3 A315-58 I3 11È GÉN 8GO 1TO</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/acer4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1209.00 TND</div>
                <h4>PC PORTABLE ACER ASPIRE 3 A315-56 I3 10È GÉN 12GO 1TO - BLEU</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/hp1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">749.00 TND</div>
                <h4>PC PORTABLE HP 15-DW1024NK N4120 4GO 1TO - GRIS</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/hp2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">759.00 TND</div>
                <h4>PC PORTABLE HP 15-DW1023NK N4120 4GO 1TO - SILVER</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/hp3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">849.00 TND</div>
                <h4>PC PORTABLE HP 15-DW1025NK N4120 8GO 1TO - NOIR</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/hp4.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1199.00 TND</div>
                <h4>PC PORTABLE HP 15-DW3017NK I3 11È GÉN 4GO 1 TO - GRIS</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/dell1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">999.00 TND</div>
                <h4>PC PORTABLE DELL VOSTRO 3400 I3 11È GÉN 4GO 1TO - NOIR</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/dell2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1499.00 TND</div>
                <h4>PC PORTABLE DELL VOSTRO 3510 I3 11È GÉN 20GO 256GO SSD - NOIR</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/dell3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1599.00 TND</div>
                <h4>PC PORTABLE DELL VOSTRO 3400 I5 11È GÉN 24GO 1TO - NOIR</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/dell3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">1725.00 TND</div>
                <h4>Pc Portable DELL Vostro 3400 i5 11è Gén 32Go 1To - Noir</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/mac1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">3899.00 TND</div>
                <h4>APPLE MACBOOK AIR M1 8GO 256GO SSD - SILVER (MGN93FN-A)</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/mac1.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">3899.00 TND</div>
                <h4>APPLE MacBook Air M1 (2020) 8Go 256Go SSD - Gris (MGN63LL-A)</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/mac2.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">4599.00 TND</div>
                <h4>APPLE MACBOOK PRO (2020) 16GO 1TO SSD - GRIS SIDÉRAL</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
        <hr class="line">
        <div class="col-lg-4">
            <img src="../../assets/mac3.jpg" alt="">
        </div>
        <div class="col-lg-8">
            <div class="description">
                <div class="price">4899.00 TND</div>
                <h4>APPLE MACBOOK AIR M1 (2020) 8GO 512GO SSD - GOLD (MGNE3LL-A)</h4>
                <p>
                    Ecran 15.6" FULL HD - Processeur: <span> Intel Core i3-1005G1 (1,20 GHz up to 3,40 GHz Turbo max </span> 4Mo de mémoire cache, 
                    <span>Dual-Core) </span>  Systéme d'exploitation: 
                    Système d'exploitation: FreeDos - Mémoire RAM:
                    <span> 4 Go DDR4-2400 </span> - Disque Dur: 1 To HDD - 
                    Carte Graphique: Intel UHD Graphics 600 avec Wi-Fi, Bluetooth, 1x USB 2.0, 2x USB 3.2 Gen 1,
                     1x HDMI 1.4b, 1x prise combinée casque/microphone (3,5 mm) et lecteur de carte - Couleur: Gris 
                    - Garantie: 1 an
                </p>
                <a href="" class="btn btn-success" type="button">Commander</a>
            </div>
        </div>
    </div>
</section>
