<section class="product">
    <div class="product-list">
        <div class="row">
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/PROCESSEUR.webp" alt="">
                    <a href="#" type="button">PROCCESEUR</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CARTE-GRAPHIQUE.webp" alt="">
                    <a href="" type="button">CARTE-GRAPHIQUE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/ventilateur.webp" alt="">
                    <a href="" type="button">VENTILATEUR</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CARTE-MÈRE.webp" alt="">
                    <a href="" type="button">CARTE-MÈRE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CLAVIER-PC-PORTABLE.webp" alt="">
                    <a href="" type="button">CLAVIER</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CABLES.webp" alt="">
                    <a href="" type="button">CABLES</a>
                </div>
            </div>    
    </div>
    </div>
    <hr class="line">
    <!---- create processor section -->
    <div id="processor">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/inteli3.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">255.00 TND</div>
                    <h4>Processeur Intel Core i3-10105F Socket LGA 1200</h4>
                    <p>
                        Processeur Intel Core i3-10105F - Fréquence de Processeur:
                       <span>3,70 GHz up to 4,40 GHz Turbo max</span> - Nombre de Coeurs: Quad-Core - 
                        Mémoire Cache: <span>6 Mo</span> - Nombre de Threads: 8 - Taille de mémoire 
                        maximale de prise en charge: 128 Go - Fréquence(s) Mémoire: <span>DDR4 2666 MHz</span> - 
                        Type de socket du processeur: 
                       LGA1200 Retrait en Magasin ou Livraison Gratuite pour Cet Article
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>                  
                </div>               
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/intelcore.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">289.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I3-12100F LGA 1700</h4>
                    <p>
                        Processeur Intel Core i3-12100F - Fréquence de Processeur:
                       <span> 3.3 GHz Jusqu'à 4.3 GHz</span> - Nombre de Coeurs: 4 - Mémoire Cache: 
                        <span>12 Mo</span>maximale de prise en charge: 128 Go Nombre maximal de voies PCI Express: 20
                         - Type de Mémoire:
                         <span> Jusqu'à DDR5 4800 MT/s</span> - 
                        Type de socket du processeur:LGA1700
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>                  
                </div>
            </div> 
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/inteli5.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">349.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I5-10400F SOCKET LGA 1200</h4>
                    <p>
                        Processeur Intel Core i5-10400F - Fréquence de Processeur:
                       <span>  2.90 GHz Jusqu'à 4.30 GHz</span> - Nombre de Coeurs: Hexa-Core - Mémoire Cache: 
                        <span>12 Mo</span>Nombre de Threads: 12 - Taille de mémoire maximale de prise en charge: 128 Go
                        - Fréquence(s) Mémoire:<span> DDR4 2666 MH</span> - 
                        Type de socket du processeur:LGA1200 
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>                  
                </div>
            </div>  
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/inteli5core.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">499.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I5-11400F SOCKET LGA 1200</h4>
                    <p>
                        Processeur Intel Core i5-11400F - Fréquence de Processeur:
                       <span>  2.60 GHz Jusqu'à 4.40 GHz</span> - Nombre de Coeurs: Hexa-Core - Mémoire Cache: 
                        <span>12 Mo</span>Nombre de Threads: 12 - Taille de mémoire maximale de prise en charge: 128 Go
                        - Fréquence(s) Mémoire:<span> DDR4 3200 MH</span> - 
                        Type de socket du processeur:LGA1200 
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>                  
                </div>
            </div>    
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/amd.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">799.00 TND</div>
                    <h4>PROCESSEUR AMD RYZEN 5 BOX 5600X</h4>
                    <p>
                        Processeur AMD RAYZEN 5 BOX 5600X - Nombre de cœurs du CPU : 6  - Fréquence
                       <span>  3.70 GHz Jusqu'à 4.60 GHz</span> - Total cache  
                        <span>L2 3MB</span> - Package: AM4 - Version PCI Express : PCIe 4.0 - Températures maximales : 95°C -
                         Vitesse de mémoire maximale : Up to 3200MHz - Mémoire : DDR4 - Technologie :
                         <span>  AMD StoreMI, Utilitaire AMD Ryzen™ Master, AMD Ryzen™ VR-Ready Premium</span> - 
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>                  
                </div>
            </div>  
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/inteli7.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">799.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I7-11700K SOCKET LGA 1200</h4>
                    <p>
                        Processeur Intel Core i7-11700K - Fréquence de Processeur:
                       <span>  3.6 GHz Jusqu'à 5.0 GHz</span>  - Nombre de Coeurs:  Octa-Core - Mémoire Cache: 
                        <span>16 Mo</span>  - Nombre de Threads: 16 - Taille de mémoire maximale de prise en charge:
                         128 Go - Fréquence(s) Mémoire:
                         <span> DDR4 3200 MHz</span> Graphiques de processeur: 
                         Carte graphique Intel UHD 750 - Type de socket du processeur: LGA1200
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>                  
                </div>
            </div>      
        </div> 
        <hr class="line">   
    </div>
    <!-- create grafical card section-->
    <div id="carte-graphique">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/cartegraphique1.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">175.00 TND</div>
                <h4>CARTE GRAPHIQUE ASUS NVIDIA GEFORCE 2G GT710 DDR5 LP BRK D5</h4>
                <p>
                    Carte Graphique ASUS <span>Nvidia GeForce 2G GT710 DDR5</span> Passif - Coprocesseur graphique:
                    <span>  NVIDIA </span> - Interfaces: PCIe 2.0 x16 - Marque chipset graphique:
                     NVIDIA - Type de RAM graphique: 
                     <span>GDDR5</span> - Taille de la RAM graphique: 2 - Fréquence GPU:
                      <span> 954 MHz</span>  - Fréquence mémoire: 1250 MHz - Interface de carte graphique: PCI-Express x16 
                </p>
                <a href="" class="btn btn-success" role="button">Commander</a> 
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/cartemsi.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">599.00 TND</div>
                <h4>CARTE GRAPHIQUE MSI NVIDIA GEFORCE GT 730 2GD3H</h4>
                <p>
                    Carte Graphique MSI <span>Nvidia GeForce GT 730</span> - Taille de mémoire: 2 Go - Type de mémoire: 
                    <span>  GDDR3  </span>  - Bus Standard: PCI Express 2.0 - Résolution maximale: 
                     <span>4096 x 2160 pixels</span> -- Vitesse d'horloge de la mémoire: 1600 MHz - 
                     Version DirectX: 12.0 - Version OpenGL: 4.4 -
                      Nombre de moniteurs supportés: 3.  
                </p>
                <a href="" class="btn btn-success" role="button">Commander</a> 
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/carte3.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">339.00 TND</div>
                <h4>CARTE GRAPHIQUE GAMER INNO3D GEFORCE GTX 1050 TI TWIN X2 4GO </h4>
                <p>
                    Carte Graphique Gamer Inno3D <span>GeForce GTX 1050 Ti Twin X2 </span> - Taille mémoire:
                    <span>   4 Go </span>  - Type de mémoire: GDDR5  - Interface PCI Express 3.0 16x -
                     Connecteurs: 1x HDMI 2.0b, 1x DVI-D, 1x DisplayPort 1.4 -
                     Dimensions: 195 x 100 mm 
                </p>
                <a href="" class="btn btn-success" role="button">Commander</a> 
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/carte4.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">559.00 TND</div>
                <h4>CARTE GRAPHIQUE MSI NVIDIA GEFORCE GT 730 2GD3H</h4>
                <p>
                    Carte Graphique MSI <span>Nvidia GeForce GT 730</span> - Taille de mémoire: 2 Go - Type de mémoire: 
                    <span>  GDDR3  </span>  - Bus Standard: PCI Express 2.0 - Résolution maximale: 
                     <span>4096 x 2160 pixels</span> -- Vitesse d'horloge de la mémoire: 1600 MHz - 
                     Version DirectX: 12.0 - Version OpenGL: 4.4 -
                      Nombre de moniteurs supportés: 3.  
                </p>
                <a href="" class="btn btn-success" role="button">Commander</a> 
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/carte5.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">899.00 TND</div>
                <h4>CARTE GRAPHIQUE GAMER PALIT GEFORCE GTX 1660 DUAL 6GO</h4>
                <p>
                    Carte Graphique Gamer PALIT <span>GeForce GTX 1660 Dual</span> - Taille de mémoire: 6 Go - 
                    Type de mémoire: 
                    <span>  GDDR3  </span>  - Bus Standard: PCI Express 2.0 - Résolution maximale: 
                     <span>4096 x 2160 pixels</span> -- Vitesse d'horloge de la mémoire: 1600 MHz - 
                     Version DirectX: 12.0 - Version OpenGL: 4.4 -
                      Nombre de moniteurs supportés: 3.  
                </p>
                <a href="" class="btn btn-success" role="button">Commander</a> 
                </div>
            </div>
            <hr class="line">
        </div>
    </div>
    <!-- create the ventilateur section-->
    <div class="section">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/ventilateur1.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">16.90 TND</div>
                    <h4>VENTILATEUR DE PROCESSEUR WHITE SHARK VECTOR AVEC LED BLEU</h4>
                    <p>
                        Ventilateur De Processeur WHITE SHARK Vector <span>LED Bleu</span>
                        - Diamètre ventilateur: <span>120 mm</span>
                        Vitesse du ventilateur: <span>1100tr/min</span>
                        - Niveau de bruit: 25 dBA - Tension: 12V - Puissance d'entrée nominale: 
                        3600mW - Courant de démarrage: 5V (ON/OFF)
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/ventilateur2.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">16.90 TND</div>
                    <h4>VENTILATEUR DE PROCESSEUR WHITE SHARK GRAVITY AVEC COULEURS RGB</h4>
                    <p>
                        Ventilateur De Processeur WHITE SHARK Gravity <span>L5 Couleurs RGB</span>
                        - Diamètre ventilateur: <span>120 mm</span>
                        Vitesse du ventilateur: <span>1100tr/min</span>
                        - Niveau de bruit: 25 dBA - Tension: 12V - Puissance d'entrée nominale: 
                        3600mW - Courant de démarrage: 5V (ON/OFF)
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/ventilateur3.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">16.90 TND</div>
                    <h4>VENTILATEUR DE PROCESSEUR WHITE SHARK WARP AVEC LED ROUGE</h4>
                    <p>
                        Ventilateur De Processeur WHITE SHARK Gravity <span>L5 Couleurs RGB</span>
                        - Diamètre ventilateur: <span>120 mm</span>
                        Vitesse du ventilateur: <span>1100tr/min</span>
                        - Niveau de bruit: 25 dBA - Tension: 12V - Puissance d'entrée nominale: 
                        3600mW - Courant de démarrage: 5V (ON/OFF)
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/ventilateur4.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">18.50 TND</div>
                    <h4>VENTILATEUR DE PROCESSEUR WHITE SHARK WORMHOLE AVEC COULEUR RGB</h4>
                    <p>
                        Ventilateur De Processeur WHITE SHARK Wormhole  <span>Eclairage ARGB à 5 LEDs</span>
                        - Diamètre ventilateur: <span>120 mm</span>
                        Vitesse du ventilateur: <span>1100tr/min</span>
                        - Niveau de bruit: 25 dBA - Tension: 12V - Puissance d'entrée nominale: 
                        3600mW - Courant de démarrage: 5V (ON/OFF)
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/ventilateur4.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">28.50 TND</div>
                    <h4>VENTILATEUR M.RED VAR-12A RAINBOW ARGB</h4>
                    <p>
                        Ventilateur M.RED VAR-12A RAINBOW ARGB  <span>Taille: 120 mm</span>
                        - Couleur: <span>RGB </span>
                        - Diamètre ventilateur:  <span>120 mm</span>
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
        </div>
    </div>
    <!-- create carte mere section-->
    <div class="carte-mere">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/cartem1.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">128.00 TND</div>
                    <h4>CARTE MÈRE ENTER G41 (EG41)</h4>
                    <p>
                        Carte Mère ENTER G41 - Socket: LGA 775 - Processeurs:
                        <span>ntel Pentium D, Intel Pentium 4, Celeron D, Core 2 Duo, 
                            Dual Core, Core 2 Quad </span>
                            Jeu de puces: Intel G41 + ICH8 - Prise en charge de la mémoire: 
                            DDR3: 1066/1333/1600 - Contrôleur audio:    
                        <span>Realtek ALC8103E intégré</span>   
                        Connecteurs:  4 ports SATA / USB 2.0 / 1.1 
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander </a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/cartem2.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">172.00 TND</div>
                    <h4>CARTE MÈRE MSI A320M-A PRO</h4>
                    <p>
                        Carte Mère ENTER G41 - Socket: LGA 775 - Processeurs:
                        <span>ntel Pentium D, Intel Pentium 4, Celeron D, Core 2 Duo, 
                            Dual Core, Core 2 Quad </span>
                            Jeu de puces: Intel G41 + ICH8 - Prise en charge de la mémoire: 
                            DDR3: 1066/1333/1600 - Contrôleur audio:    
                        <span>Realtek ALC8103E intégré</span>   
                        Connecteurs:  4 ports SATA / USB 2.0 / 1.1 
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander </a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/cartem3.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">175.00 TND</div>
                    <h4>CARTE MÈRE ASUS PRIME H310M-K (90MB0Z30-M0EAY0)</h4>
                    <p>
                        Carte Mère ENTER G41 - Socket: LGA 775 - Processeurs:
                        <span>ntel Pentium D, Intel Pentium 4, Celeron D, Core 2 Duo, 
                            Dual Core, Core 2 Quad </span>
                            Jeu de puces: Intel G41 + ICH8 - Prise en charge de la mémoire: 
                            DDR3: 1066/1333/1600 - Contrôleur audio:    
                        <span>Realtek ALC8103E intégré</span>   
                        Connecteurs:  4 ports SATA / USB 2.0 / 1.1 
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander </a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/cartem4.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">221.00 TND</div>
                    <h4>CARTE MÈRE ASUS PRIME A520M-A (90MB17H0-M0EAY0)</h4>
                    <p>
                        Carte Mère ENTER G41 - Socket: LGA 775 - Processeurs:
                        <span>ntel Pentium D, Intel Pentium 4, Celeron D, Core 2 Duo, 
                            Dual Core, Core 2 Quad </span>
                            Jeu de puces: Intel G41 + ICH8 - Prise en charge de la mémoire: 
                            DDR3: 1066/1333/1600 - Contrôleur audio:    
                        <span>Realtek ALC8103E intégré</span>   
                        Connecteurs:  4 ports SATA / USB 2.0 / 1.1 
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander </a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/cartem5.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">269.00 TND</div>
                    <h4>CARTE MÈRE ASUS TUF GAMING A520M-PLUS II (90MB17G0-M0EAY0)</h4>
                    <p>
                        Carte Mère ENTER G41 - Socket: LGA 775 - Processeurs:
                        <span>ntel Pentium D, Intel Pentium 4, Celeron D, Core 2 Duo, 
                            Dual Core, Core 2 Quad </span>
                            Jeu de puces: Intel G41 + ICH8 - Prise en charge de la mémoire: 
                            DDR3: 1066/1333/1600 - Contrôleur audio:    
                        <span>Realtek ALC8103E intégré</span>   
                        Connecteurs:  4 ports SATA / USB 2.0 / 1.1 
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander </a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/cartem6.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">309.00 TND</div>
                    <h4>CARTE MÈRE ASUS PRIME H610M-A D4 (90MB16S0-M0EAY0)</h4>
                    <p>
                        Carte Mère ENTER G41 - Socket: LGA 775 - Processeurs:
                        <span>ntel Pentium D, Intel Pentium 4, Celeron D, Core 2 Duo, 
                            Dual Core, Core 2 Quad </span>
                            Jeu de puces: Intel G41 + ICH8 - Prise en charge de la mémoire: 
                            DDR3: 1066/1333/1600 - Contrôleur audio:    
                        <span>Realtek ALC8103E intégré</span>   
                        Connecteurs:  4 ports SATA / USB 2.0 / 1.1 
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="line">
    <!-- create clavier section-->
    <div class="clavier">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/clavier1.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">42.00 TND</div>
                    <h4>CLAVIER LENOVO POUR PC PORTABLE G570</h4>
                    <p>
                        Clavier LENOVO Pour Pc Portable G570 - Langue: <span>AZERTY Français</span> - Clavier
                         de haute qualité et utilisé avec les ordinateurs portables Lenovo - 
                         Clavier sans cadre - Couleur: Noir
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/clavier2.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">42.00 TND</div>
                    <h4>CLAVIER LENOVO POUR PC PORTABLE G510</h4>
                    <p>
                        Clavier LENOVO Pour Pc Portable - Type de clavier: <span>AZERTY Français</span> - Clavier
                         de haute qualité et utilisé avec les ordinateurs portables Lenovo - 
                         Clavier sans cadre - Couleur: Noir
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/clavier3.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">42.00 TND</div>
                    <h4>CLAVIER ASUS POUR PC PORTABLE X553</h4>
                    <p>
                        Clavier ASUS Pour Pc Portable X553 - Langue： <span>AZERTY Français</span> - Clavier
                         de haute qualité et utilisé avec les ordinateurs portables Lenovo - 
                         Clavier sans cadre - Couleur: Noir
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/clavier4.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">42.00 TND</div>
                    <h4>CLAVIER ASUS POUR PC PORTABLE X553</h4>
                    <p>
                        Clavier ASUS Pour Pc Portable X553 - Langue： <span>AZERTY Français</span> - Clavier
                         de haute qualité et utilisé avec les ordinateurs portables Lenovo - 
                         Clavier sans cadre - Couleur: Noir
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/clavier5.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">42.00 TND</div>
                    <h4>CLAVIER POUR PC PORTABLE HP NETBOOK 210 CH28</h4>
                    <p>
                        Clavier ASUS Pour Pc Portable X553 - Langue： <span>AZERTY Français</span> - Clavier
                         de haute qualité et utilisé avec les ordinateurs portables Lenovo - 
                         Clavier sans cadre - Couleur: Noir
                    </p>
                    <a href="" class="btn btn-success" type="button">Commander</a>
                </div>
            </div>
        </div><hr class="line">
    </div>
    <!--- create cable section-->
    <div class="cable">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/cable1.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">1.50 TND</div>
                    <h4>NAPPE SATA ENTRE DISQUE DUR & CARTE MÈRE</h4>
                    <p>
                       <span> Nappe SATA Entre Disque Dur & Carte mère </span>- 
                        Ce câble permet de connecter un disque dur, 
                        un disque SSD ou un lecteur optique SATA (Serial ATA) à une carte mère 
                        ou à une carte contrôleur supportant la technologie SATA - Compatible SATA, 
                        SATA 2 et SATA 3.0 (6 Gb/s) -
                         Longueur du câble: 50 cm - Connecteur: Serial ATA Femelle
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div> <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/cable2.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">1.50 TND</div>
                    <h4>CÂBLE JACK MÂLE/MÂLE 1.5M - NOIR</h4>
                    <p>
                       <span> Câble Jack Mâle/Mâle  </span>- 
                       Câble Jack Mâle/Mâle - Câble 3,5mm to 3,5 mm -
                        Optimisé pour des bumpers des smartphones -
                        Manufacture parfaite - 
                       Longueur du câble: 1,5m - Couleur: Noir
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/cable3.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">3.30 TND</div>
                    <h4>CÂBLE VGA VERS VGA 1.5 MÈTRES</h4>
                    <p>
                       <span> Câble VGA Mâle vers VGA  </span>Mâle de Haute Qualité - 
                       Permet de relier entre eux pour une liaison Vidéo,
                        tout appareil équipé (Ordinateur, écran, Vidéo projecteur) - 
                       <span> Longueur: 1.5 Mètres</span>
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/cable4.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">4.50 TND</div>
                    <h4>CÂBLE VGA VERS VGA 1.5 MÈTRES</h4>
                    <p>
                       <span> Câble VGA Mâle vers VGA  </span>Mâle de Haute Qualité - 
                       Permet de relier entre eux pour une liaison Vidéo,
                        tout appareil équipé (Ordinateur, écran, Vidéo projecteur) - 
                       <span> Longueur: 1.5 Mètres</span>
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/cable5.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">4.30 TND</div>
                    <h4>CÂBLE D'EXTENSION USB VERS USB - NOIR</h4>
                    <p>
                         
                       Câble <span>HDMI Vers HDMI Extra Plat HDTV</span> - Type de Câble: Extra Plat - 
                       Longeur de Câble: 1.5 Mètres - 
                       Résolution Supporté: HD, Full HD 1080p, Vidéo 3D -
                        Le câble HDMI haute performance est idéal, 
                       toutes les fonctionnalités HDMI présentes Avec la transmission 1.4V, 
                       il est possible de reproduire des images 3D 
                       <span> Longueur: 1.5 Mètres</span>
                    </p>
                    <a href="" class="btn btn-success" role="button">Commander</a>
                </div>
            </div>
        </div>
    </div>
</section>