<section class="product">
    <div class="product-list">
        <div class="row">
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/PROCESSEUR.webp" alt="">
                    <a routerLink="processor" type="button">PROCCESEUR</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CARTE-GRAPHIQUE.webp" alt="">
                    <a href="" type="button">CARTE-GRAPHIQUE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/ventilateur.webp" alt="">
                    <a href="" type="button">VENTILATEUR</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CARTE-MÈRE.webp" alt="">
                    <a href="" type="button">CARTE-MÈRE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CLAVIER-PC-PORTABLE.webp" alt="">
                    <a href="" type="button">CLAVIER</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/CABLES.webp" alt="">
                    <a href="" type="button">CABLES</a>
                </div>
            </div>    
    </div>
    </div>
    <hr class="line">
    <!---- create processor section -->
    <div id="processor">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/inteli3.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">255.00 TND</div>
                    <h4>Processeur Intel Core i3-10105F Socket LGA 1200</h4>
                    <p>
                        Processeur Intel Core i3-10105F - Fréquence de Processeur:
                       <span>3,70 GHz up to 4,40 GHz Turbo max</span> - Nombre de Coeurs: Quad-Core - 
                        Mémoire Cache: <span>6 Mo</span> - Nombre de Threads: 8 - Taille de mémoire 
                        maximale de prise en charge: 128 Go - Fréquence(s) Mémoire: <span>DDR4 2666 MHz</span> - 
                        Type de socket du processeur: 
                       LGA1200 Retrait en Magasin ou Livraison Gratuite pour Cet Article
                    </p>
                    <a href="" class="btn btn-danger" role="button">Commander</a>                  
                </div>               
            </div>
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/intelcore.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">289.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I3-12100F LGA 1700</h4>
                    <p>
                        Processeur Intel Core i3-12100F - Fréquence de Processeur:
                       <span> 3.3 GHz Jusqu'à 4.3 GHz</span> - Nombre de Coeurs: 4 - Mémoire Cache: 
                        <span>12 Mo</span>maximale de prise en charge: 128 Go Nombre maximal de voies PCI Express: 20
                         - Type de Mémoire:
                         <span> Jusqu'à DDR5 4800 MT/s</span> - 
                        Type de socket du processeur:LGA1700
                    </p>
                    <a href="" class="btn btn-danger" role="button">Commander</a>                  
                </div>
            </div> 
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/inteli5.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">349.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I5-10400F SOCKET LGA 1200</h4>
                    <p>
                        Processeur Intel Core i5-10400F - Fréquence de Processeur:
                       <span>  2.90 GHz Jusqu'à 4.30 GHz</span> - Nombre de Coeurs: Hexa-Core - Mémoire Cache: 
                        <span>12 Mo</span>Nombre de Threads: 12 - Taille de mémoire maximale de prise en charge: 128 Go
                        - Fréquence(s) Mémoire:<span> DDR4 2666 MH</span> - 
                        Type de socket du processeur:LGA1200 
                    </p>
                    <a href="" class="btn btn-danger" role="button">Commander</a>                  
                </div>
            </div>  
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/inteli5core.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">499.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I5-11400F SOCKET LGA 1200</h4>
                    <p>
                        Processeur Intel Core i5-11400F - Fréquence de Processeur:
                       <span>  2.60 GHz Jusqu'à 4.40 GHz</span> - Nombre de Coeurs: Hexa-Core - Mémoire Cache: 
                        <span>12 Mo</span>Nombre de Threads: 12 - Taille de mémoire maximale de prise en charge: 128 Go
                        - Fréquence(s) Mémoire:<span> DDR4 3200 MH</span> - 
                        Type de socket du processeur:LGA1200 
                    </p>
                    <a href="" class="btn btn-danger" role="button">Commander</a>                  
                </div>
            </div>    
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/amd.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">799.00 TND</div>
                    <h4>PROCESSEUR AMD RYZEN 5 BOX 5600X</h4>
                    <p>
                        Processeur AMD RAYZEN 5 BOX 5600X - Nombre de cœurs du CPU : 6  - Fréquence
                       <span>  3.70 GHz Jusqu'à 4.60 GHz</span> - Total cache  
                        <span>L2 3MB</span> - Package: AM4 - Version PCI Express : PCIe 4.0 - Températures maximales : 95°C -
                         Vitesse de mémoire maximale : Up to 3200MHz - Mémoire : DDR4 - Technologie :
                         <span>  AMD StoreMI, Utilitaire AMD Ryzen™ Master, AMD Ryzen™ VR-Ready Premium</span> - 
                    </p>
                    <a href="" class="btn btn-danger" role="button">Commander</a>                  
                </div>
            </div>  
            <hr class="line">
            <div class="col-md-4">
                <img src="../../assets/inteli7.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="description">
                    <div class="price">799.00 TND</div>
                    <h4>PROCESSEUR INTEL CORE I7-11700K SOCKET LGA 1200</h4>
                    <p>
                        Processeur Intel Core i7-11700K - Fréquence de Processeur:
                       <span>  3.6 GHz Jusqu'à 5.0 GHz</span>  - Nombre de Coeurs:  Octa-Core - Mémoire Cache: 
                        <span>16 Mo</span>  - Nombre de Threads: 16 - Taille de mémoire maximale de prise en charge:
                         128 Go - Fréquence(s) Mémoire:
                         <span> DDR4 3200 MHz</span> Graphiques de processeur: 
                         Carte graphique Intel UHD 750 - Type de socket du processeur: LGA1200
                    </p>
                    <a href="" class="btn btn-danger" role="button">Commander</a>                  
                </div>
            </div>      
        </div> 
        <hr class="line">   
    </div>
    <!-- create grafical card section-->
    <div id="care-grafique">
        <div class="row">
            <div class="col-md-4">
                <img src="" alt="">
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
    
</section>