<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Bienvenue !<br>
                    <span class="smart">Smart-<span class="tek">Tek</span></span>
                </h1>
                <p>Nous sommes spécialisé dans la vente des différents produits comme les smartphone,
                     les ordinateurs et les différents accécessoire éléctronique.</p>
                <button><a href="#">contacter nous</a></button>
                 <button><a href="#">buy now</a></button>
            </div>
            <div class="col-md-6">
                <img src="../../assets/pc.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="presentation-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/thr2.png" class="img-fluid" alt="smartphone">
                    <div class="caption">
                        <h3>Smartphone</h3>
                        <p>this the smartphone section </p>
                        <a routerLink="about" role="button" class="btn btn-danger">
                            <span class="bi-cart-fill">Voir Plus</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/thr.png" alt="computer">
                    <div class="caption">
                        <h3>Computer</h3>
                        <p>we sell computer with different kinds</p>
                        <a routerLink="computer" class="btn btn-danger" role="button">
                            <span class="bi-cart-fill">Voir Plus</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/thr1.png" alt="laptop">
                    <div class="caption">
                        <h3>Laptop</h3>
                        <p>this laptop section</p>
                        <a routerLink="laptop" class="btn btn-danger" role="button">
                            <span class="bi-cart-fill">Voir Plus</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="brands">
    <div class="laptop-section">
        <h1>brand we sell</h1>
        <div class="row">
            <h1><a routerLink="laptop">laptops</a>  & <a routerLink="computer">computers</a> </h1>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/Lenovo.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/azus.jpg" alt="">
                    </div>
            </div>    
            <div class="col-md-4">
                    <div class="image">
                        <img src="../../assets/hp.jpg" alt="">
                        </div>
            </div>           
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/mac.png" alt="">
                    </div>
        </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/dell.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/acer.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
    <div class="smartphones-section">
        <h1>smartphones</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/samsung.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/images (13).png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/infinix.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/Xiaomi_logo.svg.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/huawei.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img src="../../assets/Nokia.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>